@import-normalize; /* bring in normalize.css styles */

body {
  background: #61a0f7;
  background: #4b4b4b;
  /* color: #600000; */
  /* background-image: url(./images/composition-of-cinema-elements-on-red-background-with-copy-space.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-position: center; */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  display: block;
  height: auto;
}

ul,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
